.flex {
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
}
.fa-instagram, .fa-telegram, .fa-facebook, .fa-linkedin {
    font-size: 40px;
    color: #4763f0;
    margin-right: 7px;
}
.fa-instagram:hover, .fa-telegram:hover, .fa-facebook:hover, .fa-linkedin:hover {
    font-size: 40px;
    color: rgb(219, 109, 230);
}
.fa-address-card, .fa-history, .fa-envelope, .fa-desktop, .fa-language {
    font-size: 65px;
    color: #618ce0;
    padding: 10px;
}
.wgh {
    width: 65px;    
    border-radius: 10px;
    background: rgb(234, 243, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sdsc {
    margin-left: 15px;
}
footer {
    background-color: rgb(5, 8, 30);
}
.footer-text {
    color: #FFF;
    font-size: 16px;
}
.ast {
    color: #A9C6E1;
    font-size: 18px;
    margin: 15px 0;
}
.color {
    color: #A9C6E1;
}
.dr-color {
    background-color: rgb(5, 8, 30);
}
.soc {
    margin-bottom: 30px;
}
.dhf {
    color: #333;
    margin-right: 10px;
}
.bg-color {
    background-color: #FFF;
}