nav {
  padding: 15px 0;
  font-family: 'Roboto', sans-serif;
}
.is-active {
	color: #342c19;
  border-bottom: 1px solid #342c19;
}
.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar-nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: none;
    align-items: center;
	  justify-content: space-between;
}

.navbar-nav > .nav-item {
    margin-left: 25px;
    color: #FFF;
    font-weight: 100;
    letter-spacing: 1.5px;
    padding: 5px 0;
    font-size: 14px;
    /*border-bottom: 1.5px solid #3b4b60;*/
}

.navbar-nav > .nav-item > .nav-link-item {
  color: #FFF;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.navbar-nav > .nav-item > .nav-link-item:hover {
  border-bottom: 1.5px solid #333;
}
.navbar-nav > .nav-item.is-active > .nav-link-item {
  color: #d2a494;   
}

.navbar-toggle {
    display: inline-block;
    width: 35px;
    height: 35px;
    position: relative;
}

.navbar-toggle span,
.navbar-toggle span::after,
.navbar-toggle span::before {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    background-color: #FFF;
}

.navbar-toggle span::after,
.navbar-toggle span::before {
    content: "";
    display: block;
    transition: all 1s;
}

.navbar-toggle span::after {
  transform: translateY(7px);
}

.navbar-toggle span::before {
  transform: translateY(-7px);
}

.navbar-toggle.is-active span {
  height: 0;
}

.navbar-toggle.is-active span::after {
  transform: rotate(-45deg);
}

.navbar-toggle.is-active span::before {
  transform: rotate(45deg);
}

.navbar-toggle.is-active + .navbar-nav-mobile {
  display: block;
}

.navbar-nav-mobile {
	display: none;
    list-style: none;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #fff;
    opacity: 0.7;
    padding: 20px 0px;
    text-align: center;
    line-height: 25px;
    z-index: 100;
    /*text-transform: uppercase;*/
    margin-top: 35px;
}
.navbar-nav-mobile > li > a {
  color: #342c19;
  letter-spacing: 0.5px;
  text-decoration: none;
}
.navbar-nav-mobile > li > a:hover {
  color: #FF0032;

}
@media (min-width: 850px) {
  .navbar-nav {
    display: flex;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar-nav-mobile {
    display: none !important;
  }
}



/*-----------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 920px) { 
  .sub-nav {
    margin: 20px auto;
  }
}
@media (min-width: 619px) and (max-width: 2000px) { 
  .sub-nav {
    display: flex;
    justify-content: space-between;
  }
  .sub-nav div {
    margin: 0 15px;
  }
  .menu {
    display: none;
  }
  .active:hover > .menu {
    display: block;
    position: absolute;
    padding: 15px;
    line-height: 25px;
    letter-spacing: 0.5px;
    z-index: 100;

    border-radius: 5px;
    background-color: #fff;
    opacity: 0.75;
  }
}
@media (min-width: 320px) and (max-width: 619px) { 
  .sub-nav {
    display: block;
    width: 100%;
    /*margin: 20px 0;*/
    line-height: 25px;
  }
  .menu {
    display: none;
  }
  .active:hover > .menu {
    display: block;
    position: relative;
    padding-left: 15px;
    line-height: 25px;
    z-index: 100;
  }
}