.row {
    font-size: 0;
    /*margin: -15px;*/
  }
  
  .row > .column {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    /*padding: 15px;*/
  }
  
  .row-large {
    margin: -20px -16px;
  }
  .row-large > .column {
    margin: 20px 16px;
  }
  
  .row-medium {
    margin: -20px -16px;
  }
  .row-medium > .column {
    padding: 20px 16px;
  }
  
  .row-middle {
      margin:  -10px -5px;
    }
    .row-middle > .column {
      padding: 10px 5px;
    }
  
  @media (min-width: 720px) {
    .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .row-large {
      margin:  -10px -5px;
    }
    .row-large > .column {
      margin:  10px 5px;
    }
  
    .row-medium {
      margin: -30px -23px;
    }
    .row-medium > .column {
      padding: 30px 23px;
    }
  
    .row-middle {
      margin:  -10px -5px;
    }
    .row-middle > .column {
      padding: 10px 5px;
    }
  
    .row-footer {
      margin: 0 -23px;
    }
    .row-footer > .column {
      padding: 0  23px;
    }
  }
  
  @media (min-width: 1310px) {
    .row-large {
      margin: -27px -33px;
    }
    .row-large > .column {
      margin: 27px 33px;
    }
  
    .row-medium {
      margin: -10px -20px;
    }
    .row-medium > .column {
      padding: 10px 20px;
    }
  
    .row-middle {
      margin: -12px -20px;
    }
    .row-middle > .column {
      padding: 12px 10px;
    }
  
    .row-footer {
      margin: 0 -33px;
    }
    .row-footer > .column {
      padding: 0  33px;
    }
  }